.Header{
    height: 67px;
    width: 100%;
    background: #F8FFFC;
    display: flex;
    justify-content: center;
    padding: 2px;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
.HeaderWrapper{
    height: 100%;
    width: 92%;
    /* background: black; */
    display: flex;
    justify-content: space-between;
    position: relative;

}
.Logobox{
    height: 100%;
    width:6%;
    /* background: red; */

    & img{
        height: 100%;
        width: 60%;
        /* border-radius: 50%; */
    }
}
.NavAndAuth{
    height: 100%;
    width: 65%;
    /* background: pink; */
    display: flex;
    justify-content: space-between;
}
.mainNav{
    height: 100%;
    width: max-content;
    

    & ul{
        height: 100%;
        width: 100%;
        background: #F8FFFC;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        & .NavActive{
            list-style: none;
            font-size: 17px;
            color: #00A991;
            font-weight: 500;
            cursor: pointer;
        }
        & .NavNotActive{
            list-style: none;
            font-size: 17px;
            color: #222222;
            cursor: pointer;
        }
    }
    & .NavNotActive:hover{
        list-style: none;
        font-size: 17px;
        color: #00A991;
    }
}
.Auth{
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    /* background: red; */

    
    & .Account{
        height: 46.28px;
        width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color: black;
        transition:  all 350ms ease-in-out;
        cursor: pointer;
    }
    & .Account:hover{
        transition:  all 350ms ease-in-out;
        border-bottom: 2px solid #222222;
    }

    & button{
        height: 46.28px;
        width: 124.95px;
        border: none;
        color: white;
        border-radius: 9.26px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        background: #3FB480;
        color: #E6F6F4;
        cursor: pointer;
        transform: scale(1);
        transition: all 350ms ease;
    }
    .transparent{
        background: transparent;
        border: 0.93px solid #3FB480;
        color: #3FB480;
    }
    .transparent:hover{
        /* cursor: pointer; */
        border: none;
        color: #E6F6F4;
        background: #3FB480 ;
        transform: scale(1.03);
        transition: all 350ms ease;
    }
    button:hover{
        /* cursor: pointer; */
        transform: scale(1.03);
        transition: all 350ms ease;
    }
}
.menu{
    height: 100%;
    width: 15%;
    /* background: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: none;
}
.NavBarHolder{
    height: 90vh;
    width: 100%;
    background: transparent;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:850px) {
    .NavAndAuth{
        display: none;
    }
    .menu{
        display: flex   ;
    }
    .Logobox{
        width: 28%;
    }
}
@media screen and (min-width:768px) {
    .Logobox{
        width: 10%;
    }
}
@media screen and (min-width: 5184px) {
    .Header{
        height: 15vh;
        /* background: gray; */
    }
    .Logobox{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        & img{
            width: 100%;
        }
    }
    .mainNav{
        & ul{
            gap: 70px;
            & .NavActive{
                font-size: 100px;
            }
            & .NavNotActive{
                font-size: 90px;
            }
        }
    }
    .Auth{
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 40px;
        & button{
            height: 60%;
            width: 46%;
            border-radius: 40px;
            font-size: 90px;
        }
    }
}
@media screen and (min-width: 769px) and (max-width:1200px) {
    .Auth{
        width: 40%;
        gap: 5px;
        justify-content: flex-end;
        & .Account{
            font-size: 14px;
        }
        & button{
            height: 38px;
            width: 120px;
            font-size: 14px;
        }
    }
    .NavAndAuth{
        width: 70%;
    }
    .mainNav{
        & ul{
            gap: 20px;
            & .NavActive{
                font-size: 14px;
            }
            & .NavNotActive{
                font-size: 14px;
            }
        }
    }
}