.NavBar{
    height: 90vh;
    width: 72%;
    background: white;
    padding-left: 10px;   
    z-index: 9999; 
    padding-right: 10px;    
    animation: slideInRight;
    animation-duration: 1.5s; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.CloseBar{
    height: 10%;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: flex-end;
}
.Barnav{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & ul{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        gap: 15px;

        & .Account{
            height: 46.28px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            color: black;
            transition:  all 350ms ease-in-out;
            cursor: pointer;
        }

        & .NavActive{
            list-style: none;
            font-size: 23px;
            color: #00A991;
            font-weight: 500;
        }
        & .NavNotActive{
            list-style: none;
            font-size: 22px;
            color: #737373;
        }
    }
    & .NavNotActive:hover{
        list-style: none;
        font-size: 22px;
        color: #00A991;
    }
}
.Buttons{
    height: 70%;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;


    & .Account:hover{
        transition:  all 350ms ease-in-out;
        border-bottom: 2px solid #222222;
    }

    & button{
        height: 28%;
        width: 100%;
        background: #3FB480;
        border: none;
        border-radius: 4px;
        font-size: 19px;
        color: #E6F6F4;
    }
    & .transparent{
        border: 1px solid #3FB480;
        color: #3FB480;
        background: white;
    }
    & .transparent:hover{
        border: none;
        color: white;
        background: #3FB480;
    }
}