.AvailableSessions{
    height: 26rem;
    width: 36rem;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.AvailableSide{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Continue{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    & button{
        height: 37px;
        width: 22%;
        border: none;
        color: white;
        border-radius: 8px;
        font-size: 17px;
        font-family: var(--generalFontFamily--);
        background: #3FB480;
    }
    & button:hover{
        cursor: pointer;
        background-color: rgb(17, 163, 98);
    }
}
.AvailableSideHeader{
    height: 14%;
    width: 100%;
    /* background: gray; */

    & p{
        color: #004C41;
        font-family: var(--generalFontFamily--);
        font-size: 13px;
        font-weight: 500;
    }
}
.AvailableSideMain{
    height: 1000%;
    width: 100%;
    border: 2px solid #B0E4DD;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.HoldSelectedAppointmentTherapist{
    height:30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.TherapistNameAppointment{
    height: 65%;
    padding-left: 5px;
    font-family: var(--generalFontFamily--);
    font-size: 15px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
}
.HoldAppointmentDate{
    height: 30%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 3px;

    & input{
        height: 65%;
        padding-left: 5px;
        font-family: var(--generalFontFamily--);
        font-size: 15px;
        width: 100%;
        background: transparent;
        outline: none;
        border: 1px solid black;
        border-radius: 6px;
    }
}
.HoldAppointmentsTime{
    height: 30%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 3px;
    & input{
        height: 65%;
        padding-left: 5px;
        font-family: var(--generalFontFamily--);
        font-size: 15px;
        width: 100%;
        background: transparent;
        outline: none;
        border: 1px solid black;
        border-radius: 6px;
    }
}
