.DashboardMobileNav {
    display: none; 
    height: 9vh;
    width: 100%;
    background: #352e2e;
    position: fixed; 
    bottom: 0;
    left: 0; 
    z-index: 9999; 

    nav {
        height: 100%;
        width: 100%;

        ul {
            height: 100%;
            width: 100%;
            background: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0;
            /* gap: 30px; */
            justify-content: space-around;

            .MobileNavNotActive{
                list-style: none;
                font-size: 14px;
                font-family: var(--generalFontFamily--);
                /* background: bisque; */
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                transform: scale(1);
                color: black;
                text-decoration: none;
                transition: all 350ms ease;
            }
            .MobileNavActive{
                list-style: none;
                font-size: 14px;
                font-family: var(--generalFontFamily--);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                transform: scale(1.01);
                color: black;
                font-weight: 600;
                text-decoration: none;
                transition: all 350ms ease;
            }
            & .NavNotActive:hover{
                cursor: pointer;
                transform: scale(1.01);
                transition: all 350ms ease;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .DashboardMobileNav{
        display: flex;
    }

}